<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Vacunación</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <h1>Registro para Vacunación</h1>

    <form id="form">

        <h2>Datos del Usuario</h2>

        <label>Nombre:</label>
        <input type="text" name="nombre" id="nombre" required placeholder="Ingrese su primer nombre">

        <label>Apellido:</label>
        <input type="text" name="apellido" id="apellido" required placeholder="Ingrese su apellido">

        <label>Teléfono:</label>
        <input type="tel" name="telefono" id="telefono" required placeholder="Ej: 3170000000">

        <label>Correo Electrónico:</label>
        <input type="email" name="correo" id="email" required placeholder="Ej: usuario@gmail.com">


        <h2>Datos del Animal / Mascota</h2>

        <label>Nombre del Animal:</label>
        <input type="text" name="nombre_animal" id="nombre_animal" required placeholder="Nombre del animal">

        <label>Tipo:</label>
        <select name="tipo" id="tipo_animal" required>
            <option value="">Seleccione...</option>
            <option value="Mascota">Mascota</option>
            <option value="Crianza">Crianza</option>
            <option value="Otro">Otro</option>
        </select>

        <label>Especie:</label>
        <input type="text" name="especie" id="especie_animal" required placeholder="Ej: Perro, cerdo, loro etc">

        <label>Edad del Animal:</label>
        <input type="number" name="edad" id="edad" required placeholder="Ej: 2">

        <label>Vacuna requerida:</label>
        <input type="text" name="vacuna" id="vacuna" required placeholder="Ej: Rabia, parvovirus etc">

        <input type="submit" value="Registrar">
    </form>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/post.js"></script>

</body>
</html>
